

<main>
    <div class="my-15 container container-narrow">
        <p class="text-primary-400">Hi, my name is</p>
        <h1 class="text-neutral-800">Elie,</h1>
        <h2 class="text-neutral-200">I build things <br> for the web and mobile.</h2>
        <div class="content">
            <p>I am a Software Engineer specializing in building exceptional digital experiences. <br> Currently, I am focused on building accessible, human centered products at <span class="text-primary-400">
                <a href="https://irembo.com" target="_blank">
                    Irembo
                </a>
            </span>.</p>
        </div>
        <button>About Me</button>
    </div>
</main>

<style lang="scss">
    .content {
        margin: 2% auto;
    }
</style>