@use "../variables/" as *;



body {
  font-family: $ff-body;
  font-weight: $fw-light;
  font-size: $fs-body;
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-100);
  min-width: fit-content;
}

$link-color: $color-primary-400;
$link-color-hover: $color-primary-200;

a {
  color: $link-color;
  text-decoration: none;
}


a:is(:hover, :focus) {
  color: $link-color-hover;
  border-color: $link-color-hover;
}

.numbered-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(20px, 5vw, 30px);
  white-space: nowrap;

  &:before {
    position: relative;
    top: 5px;
    counter-increment: section;
    content: "0" counter(section) ".";
    margin-right: 1rem;
    color: var(--color-primary-400);
    font-size: clamp(16px, 3vw, 20px);
    font-weight: bold;

    @media (max-width: 480px) {
      margin-bottom: -3px;
      margin-right: 5px;
    }
  }

  &:after {
    content: "";
    display: block;
    position: relative;
    top: 0.5rem;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--color-neutral-300);

    @media (max-width: 1080px) {
      width: 200px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      margin-left: 10px;
    }
  }
}